# Export Main Functions

S3method(nhstANOVA,default)
S3method(nhstANOVA,formula)
S3method(ciContrasts,default)
S3method(ciContrasts,formula)
S3method(nhstContrasts,default)
S3method(nhstContrasts,formula)
S3method(cipContrasts,default)
S3method(cipContrasts,formula)
S3method(dpData,default)
S3method(dpData,formula)
S3method(adpData,default)
S3method(adpData,formula)
S3method(ciDifference,default)
S3method(ciDifference,formula)
S3method(nhstDifference,default)
S3method(nhstDifference,formula)
S3method(cipDifference,default)
S3method(cipDifference,formula)
S3method(ciMeans,default)
S3method(ciMeans,formula)
S3method(nhstMeans,default)
S3method(nhstMeans,formula)
S3method(cipMeans,default)
S3method(cipMeans,formula)
S3method(ciPairwise,default)
S3method(ciPairwise,formula)
S3method(nhstPairwise,default)
S3method(nhstPairwise,formula)
S3method(cipPairwise,default)
S3method(cipPairwise,formula)
S3method(pvaRegression,formula)
S3method(ciRegression,formula)
S3method(nhstRegression,formula)
S3method(cipRegression,formula)
S3method(fnsData,default)
S3method(fnsData,formula)
S3method(bpData,default)
S3method(bpData,formula)
export(nhstANOVA)
export(ciContrasts)
export(nhstContrasts)
export(cipContrasts)
export(dpData)
export(adpData)
export(ciDifference)
export(nhstDifference)
export(cipDifference)
export(ciMeans)
export(nhstMeans)
export(cipMeans)
export(ciPairwise)
export(nhstPairwise)
export(cipPairwise)
export(pvaRegression)
export(ciRegression)
export(nhstRegression)
export(cipRegression)
export(fnsData)
export(bpData)
export(ciHSD)
export(nhstHSD)
