# Estimation Approach to Statistical Inference
## Operations to Make Function Available

### xANOVA

export(testANOVA)

### xContrasts

export(estimateContrasts)
export(testContrasts)
export(plotContrasts)

### xData

export(plotData)
export(addData)

### xBoxes

export(describeBoxes)
export(plotBoxes)

### xDifference

export(estimateDifference)
export(testDifference)
export(plotDifference)

### xMeans

export(estimateMeans)
export(testMeans)
export(plotMeans)

### xPairwise

export(estimatePairwise)
export(testPairwise)
export(plotPairwise)

### xRegression

export(effectRegression)
export(estimateRegression)
export(testRegression)
export(plotRegression)

### xTukey

export(estimateHSD)
export(testHSD)
